telegram:
  token: token # required - string

schedule:
  mins: 15

peoples:
  name-of-person: # at least one person is required, string
    chat_id: chat_id # required - integer
    lat: lat # required - string
    long: long # required - string
    threshold: 30 # optional - integer, defaults to 0
  
  # more people can be added here
  name-of-another-person:
    chat_id: chat_id
    lat: lat
    long: long
    threshold: 30