telegram:
  token: token # required - string
  endpoint: https://api.telegram.org/bot # optional - string, defaults to https://api.telegram.org/bot, token will be appended to this

schedule:
  mins: 15

timeout: 10 # optional - integer, http timeout in seconds, default is 10

peoples:
  person_name: # at least one person is required, string
    chat_id: chat_id # required - integer
    lat: lat # required
    long: long # required
    threshold: 30 # optional - integer, defaults to 0
  
  # more people can be added here
  another_unique_person_name:
    chat_id: chat_id
    lat: lat
    long: long
    threshold: 30